/*Body*/

.bodyBackground{
    background-color: rgb(158, 239, 243);
}
@media only screen and (max-width: 500px){
    .bodyBackground{
        background-color: red;
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px){
    .bodyBackground{
        background-color: yellow;
    }
}


@media only screen and (min-width: 961px){
    .bodyBackground{
        background-color: rgb(158, 239, 243);
    }
}


/*Body/*


/* HEADER */

.headerMenuContainer{
    background-color: rgb(22, 145, 167);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap
}

.headerMenuNav{
    display: flex;
    /*background-color: gray;*/
    width: 90%;
    justify-content: space-between;
}


.headerMenuLogoBox{
    display: flex;
    padding: 5px;
    /*border: solid 1px yellow;*/
    align-items: center;
    justify-content: center;
}


.headerMenuLogoImage{
    display: flex;
    width: 50px;
    height: 50px;
    /*background-color: green;*/
    align-items: center;
}

.headerMenuOptionsBox{
    display: flex;
    padding: 5px;
    /*border: solid 1px yellow;*/
    align-items: center;
    justify-content: center;
}

.headerMenuImages {
    display: flex;
    align-items:center;
    width: 50px;
    height: 50px;
    margin: 1%;
    /*border: 1px solid black;
    background-color: blue;*/
}



/*HEADER*/


/*MAIN*/

.main-H1{
    text-align: center;
    background-color: rgb(64, 64, 149);
    margin-top: 0;
    color: white;
}

.main-H2{
    text-align: center;
    background-color: rgb(64, 64, 149);
}

.mainMenuOptionsContainer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}


.mainMenuPomodoroOption{
    flex-grow: 1;
    flex-basis: 25%;
}

.mainMenuTeachToOthersOption{
    flex-grow: 1;
    flex-basis: 25%;

}

.mainMenuFlashcardsOption{
    flex-grow: 1;
    flex-basis: 25%;


}

.mainMenuAiOption{
    flex-grow: 1;
    flex-basis: 25%;
}

.mainMenuImages{
    width: 80%;
    height: 330px;
    border: 5px solid black
}


/*START POMODORO*/

.mainPomodoroTemporizatorContainer{
    /*background-color: beige;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainPomodoroTemporizator{
    /*background-color: blueviolet;*/
    display: flex;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainPomodoroRepresentationContainer{
    /*background-color:green;*/
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainPomodoroRepresentationBox{
    /*background-color: red;*/
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.mainPomodoroRepresentationImage{
    /*background-color: white;*/
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    width: 50%;

}

.mainPomodoroButtonsContainer{
    /*background-color: black;*/
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.mainPomodoroButtons{
    /*background-color: beige;*/
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.mainPomodoroButton1Box{
    /*background-color: brown;*/
    display: flex;
    flex-wrap: wrap;    
    margin: 10px;
}

.mainPomodoroButton1{
    background-color: white;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;


}

.mainPomodoroButton2Box{
    /*background-color: yellow;*/
    display: flex;
    margin: 10px;
    flex-wrap: wrap;


}

.mainPomodoroButton2{
    background-color: white;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;


}


.mainPomodoroButton3Box{
    /*background-color: green;*/
    display: flex;
    margin: 10px;
    flex-wrap: wrap;

}


.mainPomodoroButton3{
    background-color: white;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;

}

/*FINISH POMODORO*/


.main-Iframes{
    width: 900px;
    height: 500px;
    display: block;
    margin: auto;
}

.main-P{
    text-align: center;
}



/* START TEACH TO OTHERS */



/* FINISH TEACH TO OTHERS */


/*      AI STARTS      */
#gridArea{
    padding:10px;
    display: grid;
    grid-template-columns: 20% 4fr;
    grid-template-rows:  1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    'newChat chat'
    'oldChat chat'
    'account chat'
    'footer textInput';
}

.border{
    border: 1px solid black;
}

.borderLeft{
    background-color: rgb(64, 64, 149);
    color: white;
}

.newChatBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.oldChatsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.accountBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.messagesFromAi{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.messagesFromAiBox{
    height: 10%;
    width: 100%;
    background-color: rgb(64, 64, 149);   
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInputBox{
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInputField{
    background-color: rgb(190, 184, 184);
    width: 90%;
}



#newchat{
    grid-area: newChat;
    background-color: black;

}

#oldChat{
    grid-area: oldChat;
}

#account{
    grid-area: account;
}

#footer{
    grid-area: footer;
}

#chat{
    grid-area: chat;
}

#textInput{
    grid-area: textInput;
}

/*      AI FINSIHES      */

.imagesOfTheBox{
    border: solid black;
    width: 10%;
    height: 100%;
}


/*END OF THE MAIN*/


/*FOOTER*/

.footer{
    background-color: rgb(22, 145, 167);
}



.footerTitle{
    background-color: rgb(64, 64, 149);
    color: white;
    
}

.footerImagesLogoContainer {
    /*background-color: brown;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0%;
}

.footerBoxLogo {
    /*background-color: beige;
    border: solid green;*/
    flex-basis: 79.5%;
    text-align: right;
}

.footer-Logo-Img {
    /*border: 1px solid black;*/
    width: 50px;
    height: 50px;
    

}

.footerBoxesSocialMediaImages{
    /*background-color: pink;*/
    width: 60px;
    height: 60px;
    margin-top: 0%;
    margin-left: 1%;

}


.footerSocialMediaImages{
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
}



.footer-Ul {
    list-style-type: none;
}

/*END OF THE FOOTER*/