@keyframes rotation-efect {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}


@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0;
  }
  80% {
    transform: translateX(-20px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}