/* HEADER */

/*Header INDEX STARTS */

.header-index{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 12vh;
  background-color: $bg-titles-color;
}

.box-title{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 80vw;
  padding-left: 20%;
}

.box-options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20vw;
}

.box-option{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10vw;
}

.options-imgs{
  display: flex;
  justify-content: center;
  width: 4.5vw;
  height: 5vh;
  transform:skew(25deg);
  animation: rotation-efect 3s linear infinite;
  &:hover {
    width: 5vw;
    height: 6vh;  
    transition: height 0.5s, width 0.5s;
  } 
}

.options-imgs1{
  display: flex;
  justify-content: center;
  width: 5vw;
  height: 5vh;
  transform:skew(25deg);
  &:hover {
    width: 6vw;
    height: 6vh;  
    transition: height 0.5s, width 0.5s;
  } 
}

/*Header INDEX FINISHES */

  
.header {
  background-color: $header-footer-color;
  }
  
  .headerMenuContainer {
    @extend .header;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .headerMenuNav {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  
  .headerMenuLogoBox {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .headerMenuLogoImage {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
  }
  
  .headerMenuOptionsBox {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .headerMenuImages {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 1%;
  }
  
  .headerBootstrap {
    margin-bottom: 1%;
  }
  
  .nav-item :hover {
    background-color: rgb(40, 119, 164);
  }
  
  /*HEADER*/